html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto; }

.cardFlicker {
  width: 100%;
  padding: 50px; }

.albuns {
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center; }

.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 940px;
  height: 793.8px;
  justify-content: center; }
  .galeria h1 {
    height: 46px;
    width: 368px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: #007aff;
    padding: 11px 15px; }

.row h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px; }

.box-foto {
  width: 308px;
  position: relative;
  padding-bottom: 20px; }
  .box-foto .thumb {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .box-foto .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.box-foto-2-container {
  display: flex;
  flex-direction: column;
  gap: 1px; }

.box-foto-2 {
  display: flex;
  width: 100%;
  max-width: 356px;
  height: 200px;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative; }

.box-foto-2 img {
  width: 184px;
  height: 144.45px;
  object-fit: cover;
  margin-right: 15px; }

.box-foto-2:hover img {
  border: 2px solid #0d6efd;
  padding: 5px;
  cursor: pointer;
  color: #0d6efd; }

.box-foto-2:hover h2 {
  color: #0d6efd; }

.box-foto:hover h2 {
  color: #0d6efd; }

.box-foto-2 h2 {
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif; }

a {
  display: flex;
  align-items: center;
  justify-content: center; }

.thumb::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, black, transparent);
  z-index: 1; }

.box-foto:hover {
  border: 2px solid #0d6efd;
  padding: 5px;
  cursor: pointer;
  color: #0d6efd; }

.box-foto:hover h2 {
  color: #0d6efd; }

.box-foto {
  width: 368px; }

.box-foto h2 {
  font-size: 18px;
  color: white;
  font-weight: 700;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 20px;
  font-family: 'Roboto', sans-serif;
  z-index: 2; }

@media (max-width: 992px) {
  .col-lg-4 {
    width: 100%;
    text-align: center; }

  .box-foto {
    width: 468px;
    margin: 0 auto; }

  .box-foto-2 {
    width: 100%;
    max-width: 468px;
    margin: 0 auto; } }
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px; } }
@media (max-width: 576px) {
  .box-foto {
    width: 100%; }

  .cardFlicker {
    width: 100%;
    padding: 20px; } }

/*# sourceMappingURL=styles.css.map */
